@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Molle:ital@1&display=swap');

body {
  color: rgb(39, 39, 39);
  background: rgb(2, 0, 36);
  background: linear-gradient(
    352deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(148, 113, 152, 1) 33%,
    rgba(244, 100, 178, 1) 65%,
    rgba(244, 223, 240, 1) 84%,
    rgba(246, 189, 230, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
  min-height: 100vh;
  font-family: 'Space Grotesk', sans-serif;
}

header {
  min-height: 10vh;
  padding: 0 50px;
}
header a {
  text-decoration: none;
  color: rgb(39, 39, 39);
  font-size: 2rem;
}

.main-container {
  width: 400px;
  height: 600px;
  background: white;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0.3px);
  -webkit-backdrop-filter: blur(0.3px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.verify-container {
  margin-top: 150px;
  margin-bottom: 100px;
  margin-left: 500px;
  align-self: center;
  align-items: center;
  width: 400px;
  height: 400px;
  text-align: center;
  background: white;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0.3px);
  -webkit-backdrop-filter: blur(0.3px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.verify-container1 {
  margin-top: 2px;
  text-align: center;
  justify-self: center;
}

.img-div {
  background-color: white;
  margin-top: 1rem;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.form-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

input {
  background: transparent;
  color: black;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 80%;
  margin: auto;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #c6c6c6;
  justify-content: center;
  align-items: center;
  text-align: center;
}
input:focus {
  outline: none;
}

input#txtEmail:focus ~ .bar1:before {
  width: 320px;
}

.bar1 {
  position: relative;
  display: block;
  width: 320px;
}
.bar1:before {
  content: '';
  height: 2px;
  width: 0;
  bottom: 0px;
  position: absolute;
  background: #fff;
  transition: 300ms ease all;
  left: 0%;
}

input#txtPassword:focus ~ .bar2:before {
  width: 320px;
}

.bar2 {
  position: relative;
  display: block;
  width: 320px;
}
.bar2:before {
  content: '';
  height: 2px;
  width: 0;
  bottom: 0px;
  position: absolute;
  background: #fff;
  transition: 300ms ease all;
  left: 0%;
}
.btn {
  background-color: pink;
  align-items: center;
}
.btn-nav {
  font-size: 20px;
  border: 4px solid white;
  color: white;
  background-color: rgb(39, 39, 39);
  border-radius: 30px;
  padding: 10px 30px;
  font-family: 'Space Grotesk', sans-serif;
  transition: 0.5s;
  cursor: pointer;
  margin-top: 1rem;
}

.error {
  color: red;
}
a {
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  header {
    padding: 10px 25px;
  }
  header a {
    font-size: 1.4rem;
  }
  .verify-container {
    align-items: center;
    margin-right: inherit;
    margin-right: 25px;
    -ms-flex-align: center;
    margin-top: 300px;
    margin-right: -80px;
    margin-left: 200px;
  }
  .verify-container1 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* max-width: 50%; */
  }
}
@media screen and (max-width: 480px) {
  .container {
    width: 300px;
  }
  input {
    background: transparent;
    color: #080808;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 240px;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #c6c6c6;
  }
  input:focus {
    outline: none;
  }

  input#txtEmail:focus ~ .bar1:before {
    width: 240px;
  }

  .bar1 {
    position: relative;
    display: block;
    width: 240px;
  }

  input#txtPassword:focus ~ .bar2:before {
    width: 240px;
  }

  .bar2 {
    position: relative;
    display: block;
    width: 240px;
  }

  .verify-container {
    margin-left: -25px;
  }
}
