@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Molle:ital@1&display=swap');

body {
  color: rgb(39, 39, 39);
  font-family: 'Space Grotesk', sans-serif;
}

header {
  min-height: 10vh;
  padding: 0 50px;
}
header a {
  text-decoration: none;
  color: rgb(39, 39, 39);
  font-size: 2rem;
}

.main-container {
  width: 400px;
  height: 600px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0.3px);
  -webkit-backdrop-filter: blur(0.3px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.img-div {
  background-color: white;
  margin-top: 1rem;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.form-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

input {
  background: transparent;
  color: #ffffff;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 320px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #c6c6c6;
}
input:focus {
  outline: none;
}

input#txtEmail:focus ~ .bar1:before {
  width: 320px;
}

.bar1 {
  position: relative;
  display: block;
  width: 320px;
}
.bar1:before {
  content: '';
  height: 2px;
  width: 0;
  bottom: 0px;
  position: absolute;
  background: #fff;
  transition: 300ms ease all;
  left: 0%;
}

input#txtPassword:focus ~ .bar2:before {
  width: 320px;
}

.bar2 {
  position: relative;
  display: block;
  width: 320px;
}
.bar2:before {
  content: '';
  height: 2px;
  width: 0;
  bottom: 0px;
  position: absolute;
  background: #fff;
  transition: 300ms ease all;
  left: 0%;
}
.btn-nav {
  font-size: 20px;
  border: 4px solid white;
  color: white;
  background-color: rgb(39, 39, 39);
  border-radius: 30px;
  padding: 10px 30px;
  font-family: 'Space Grotesk', sans-serif;
  transition: 0.5s;
  cursor: pointer;
  margin-top: 1rem;
}

.error {
  color: red;
}
a {
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  header {
    padding: 10px 25px;
  }
  header a {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 480px) {
  .container {
    width: 300px;
  }
  input {
    background: transparent;
    color: #080808;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 240px;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #c6c6c6;
  }
  input:focus {
    outline: none;
  }

  input#txtEmail:focus ~ .bar1:before {
    width: 240px;
  }

  .bar1 {
    position: relative;
    display: block;
    width: 240px;
  }

  input#txtPassword:focus ~ .bar2:before {
    width: 240px;
  }

  .bar2 {
    position: relative;
    display: block;
    width: 240px;
  }
}
